<a href="https://colab.research.google.com/github/brunoalvoliv/fundos-de-investimento/blob/main/fundos_2021_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
plt.style.use('bmh')

## Buscando os dados 

Site: http://dados.cvm.gov.br/dataset/fi-doc-inf_diario/resource/85eb3cea-a071-4d3c-9ace-0fcdb6807e14

In [3]:
def busca_fundos(ano, mes):
  url = 'http://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_{:02d}{:02d}.csv'.format(ano, mes)
  dados = pd.read_csv(url, sep=';')
  return dados

In [6]:
fundos12 = busca_fundos(2022, 1)
fundos12.head()

  TP_FUNDO          CNPJ_FUNDO   DT_COMPTC  ...  CAPTC_DIA  RESG_DIA  NR_COTST
0       FI  00.017.024/0001-53  2022-01-03  ...        0.0       0.0         1
1       FI  00.017.024/0001-53  2022-01-04  ...        0.0       0.0         1
2       FI  00.017.024/0001-53  2022-01-05  ...        0.0       0.0         1
3       FI  00.017.024/0001-53  2022-01-06  ...        0.0       0.0         1
4       FI  00.068.305/0001-35  2022-01-03  ...        0.0       0.0      6717

[5 rows x 9 columns]

##Filtro por cotistas

In [35]:
fundos12.sort_values(['NR_COTST'], ascending=False, inplace=True)
fundos12.head()

      TP_FUNDO          CNPJ_FUNDO  ...      RESG_DIA  NR_COTST
4881        FI  05.102.500/0001-58  ...  1.400194e+09   1170888
4880        FI  05.102.500/0001-58  ...  2.051734e+09   1163944
4883        FI  05.102.500/0001-58  ...  1.459812e+09   1161691
4882        FI  05.102.500/0001-58  ...  1.705074e+09   1151924
89826       FI  47.178.058/0001-93  ...  0.000000e+00    819089

[5 rows x 9 columns]

In [40]:
estatistica_cotistas = pd.DataFrame(fundos12['NR_COTST'].describe())
estatistica_cotistas

           NR_COTST
count  9.010700e+04
mean   1.060646e+03
std    1.602040e+04
min    0.000000e+00
25%    1.000000e+00
50%    2.000000e+00
75%    1.800000e+01
max    1.170888e+06

In [42]:
#Determinando a quantidade de cotistas.

cotistas = 100000

fundos_filtro = fundos12[fundos12['NR_COTST'] >= cotistas]
print(len(fundos_filtro))

127

##Melhores e piores 5 fundos

In [47]:
#Problema: cotação misturada

melhores = pd.DataFrame()
melhores["CNPJ"] = fundos_filtro['CNPJ_FUNDO']
melhores['Cota'] = fundos_filtro['VL_QUOTA']
melhores.head()

                     CNPJ      Cota
4881   05.102.500/0001-58  4.768934
4880   05.102.500/0001-58  4.767630
4883   05.102.500/0001-58  4.771604
4882   05.102.500/0001-58  4.770268
89826  47.178.058/0001-93  3.468409

##Buscando nome dos fundos

In [9]:
#Nome dos fundos 

url1 = 'http://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv'

In [ ]:
nomes = pd.read_csv(url1, sep=';', encoding='ISO-8859-1')

In [12]:
nomes.tail()

      TP_FUNDO          CNPJ_FUNDO  ... CNPJ_CONTROLADOR CONTROLADOR
65706  FUNCINE  28.849.405/0001-18  ...              NaN         NaN
65707  FUNCINE  28.850.140/0001-78  ...              NaN         NaN
65708  FUNCINE  28.912.043/0001-62  ...              NaN         NaN
65709  FUNCINE  31.674.280/0001-47  ...              NaN         NaN
65710  FUNCINE  32.222.962/0001-81  ...              NaN         NaN

[5 rows x 40 columns]

In [14]:
#Fundos em funcionamento 

fundos_funcionando = nomes[nomes['SIT'] == 'EM FUNCIONAMENTO NORMAL']
fundos_funcionando = nomes[['TP_FUNDO',	'CNPJ_FUNDO',	'DENOM_SOCIAL']]
fundos_funcionando.head()

  TP_FUNDO  ...                                       DENOM_SOCIAL
0   FACFIF  ...  DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...
1   FACFIF  ...  ITAMARITI CASH FUNDO APLICACAO QUOTAS FDOS INV...
2   FACFIF  ...  FUNDO APLIC. QUOTAS DE F.I. SANTANDER CURTO PRAZO
3   FACFIF  ...  FUNDO DE APLIC EM QUOTAS DE FUNDOS DE INV BMC ...
4   FACFIF  ...  BALANCE FUNDO APLICACAO QUOTAS FUNDO INVESTIME...

[5 rows x 3 columns]

In [45]:
denom_social = fundos_funcionando[fundos_funcionando['CNPJ_FUNDO'] == '00.000.684/0001-21']
denom_social

  TP_FUNDO  ...                                       DENOM_SOCIAL
0   FACFIF  ...  DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...

[1 rows x 3 columns]